leoz-node/wsdl/ShipmentProcessingService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://fpcs.gls-group.eu/v1/ShipmentProcessing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" xmlns:ns2="http://fpcs.gls-group.eu/v1/Common" xmlns:ns1="http://fpcs.gls-group.eu/v1/ShipmentProcessing/types" name="ShipmentProcessingService" targetNamespace="http://fpcs.gls-group.eu/v1/ShipmentProcessing">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://fpcs.gls-group.eu/v1/ShipmentProcessing/types" xmlns:ns1="http://fpcs.gls-group.eu/v1/Common" elementFormDefault="qualified" targetNamespace="http://fpcs.gls-group.eu/v1/ShipmentProcessing/types" version="1.0">

  <xs:import namespace="http://fpcs.gls-group.eu/v1/Common"/>

  <xs:element name="AllowedServicesRequestParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Source" type="tns:Location"/>
        <xs:element name="Destination" type="tns:Location"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AllowedServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="AllowedServices" type="tns:AllowedService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CancelParcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ShipmentID" type="xs:string"/>
        <xs:element name="result" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CouldNotTransmitShipmentsFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="shipmentUnitId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CreateParcelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CreatedShipment" type="tns:CreatedShipment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="EndOfDayDate" type="xs:string"/>

  <xs:element name="EndOfDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Shipments" type="tns:Shipment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="InvalidShipmentIDFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ShipmentID" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="InvalidShipmentUnitFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="shipmentUnit" type="tns:ShipmentUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ShipmentID" type="xs:string"/>

  <xs:element name="ShipmentRequestData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Shipment" type="tns:Shipment"/>
        <xs:element name="PrintingOptions" type="tns:PrintingOptions"/>
        <xs:element minOccurs="0" name="CustomContent" type="tns:CustomContent"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateParcelWeightRequestParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShipmentNumber" type="xs:string"/>
        <xs:element name="ShipmentUnitNumber" type="xs:string"/>
        <xs:element name="Weight" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateParcelWeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UpdatedWeight" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidateParcelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="success" type="xs:boolean"/>
        <xs:element name="validationResult" type="tns:ShipmentValidationResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidateShipmentRequestData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Shipment" type="tns:Shipment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Shipment">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ReferenceNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="ShippingDate" type="xs:date"/>
      <xs:element minOccurs="0" name="IncotermCode" type="xs:string"/>
      <xs:element name="Product" type="tns:ProductType"/>
      <xs:element name="Consignee" type="ns1:Consignee"/>
      <xs:element name="Shipper" type="ns1:Shipper"/>
      <xs:element maxOccurs="unbounded" name="ShipmentUnit" type="tns:ShipmentUnit"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Service" type="tns:ShipmentService"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShipmentUnit">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ReferenceNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="Weight" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Service" type="tns:UnitService"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UnitService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cash" type="tns:CashService"/>
      <xs:element minOccurs="0" name="ShopDelivery" type="tns:ShopDeliveryService"/>
      <xs:element minOccurs="0" name="ShopReturn" type="tns:ShopReturnService"/>
      <xs:element minOccurs="0" name="Intercompany" type="tns:IntercompanyService"/>
      <xs:element minOccurs="0" name="Exchange" type="tns:ExchangeService"/>
      <xs:element minOccurs="0" name="DeliveryAtWork" type="tns:DeliveryAtWorkService"/>
      <xs:element minOccurs="0" name="Deposit" type="tns:DepositService"/>
      <xs:element minOccurs="0" name="AddonLiability" type="tns:AddOnLiabilityService"/>
      <xs:element minOccurs="0" name="IdentPin" type="tns:IdentPINService"/>
      <xs:element minOccurs="0" name="Ident" type="tns:IdentService"/>
      <xs:element minOccurs="0" name="PickAndShip" type="tns:PickAndShipService"/>
      <xs:element minOccurs="0" name="PickAndReturn" type="tns:PickAndReturnService"/>
      <xs:element minOccurs="0" name="HazardousGoods" type="tns:HazardousGoodsService"/>
      <xs:element minOccurs="0" name="ExWorks" type="tns:ExWorksService"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CashService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element minOccurs="0" name="Reason" type="xs:string"/>
      <xs:element name="Amount" type="xs:string"/>
      <xs:element name="Currency" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShopDeliveryService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element name="ParcelShopGLSID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShopReturnService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element name="NumberOfLabels" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IntercompanyService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element name="Address" type="ns1:Address"/>
      <xs:element name="NumberOfLabels" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExchangeService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element name="Address" type="ns1:Address"/>
      <xs:element minOccurs="0" name="ExpectedWeight" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeliveryAtWorkService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element name="RecipientName" type="xs:string"/>
      <xs:element minOccurs="0" name="AlternateRecipientName" type="xs:string"/>
      <xs:element minOccurs="0" name="Building" type="xs:string"/>
      <xs:element minOccurs="0" name="Floor" type="xs:string"/>
      <xs:element minOccurs="0" name="Room" type="xs:string"/>
      <xs:element minOccurs="0" name="Phonenumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DepositService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element minOccurs="0" name="ContactPerson" type="xs:string"/>
      <xs:element minOccurs="0" name="Phonenumber" type="xs:string"/>
      <xs:element name="Description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddOnLiabilityService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element name="Amount" type="xs:string"/>
      <xs:element name="Currency" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentPINService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element name="PIN" type="xs:string"/>
      <xs:element minOccurs="0" name="Birthdate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IdentService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element name="Birthdate" type="xs:date"/>
      <xs:element name="Firstname" type="xs:string"/>
      <xs:element name="Lastname" type="xs:string"/>
      <xs:element name="Nationality" type="tns:Nationality"/>
      <xs:element name="NumberOfContractPages" type="xs:long"/>
      <xs:element name="NumberOfSignatures" type="xs:long"/>
      <xs:element name="NumberOfShipperContractCopies" type="xs:long"/>
      <xs:element name="NumberOfConsigneeContractCopies" type="xs:long"/>
      <xs:element minOccurs="0" name="AdditionalInformation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Nationality">
    <xs:sequence>
      <xs:element ref="ns1:CountryCode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PickAndShipService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element name="PickupDate" type="xs:date"/>
      <xs:element name="SendEMailToShipper" type="xs:boolean"/>
      <xs:element name="SendEMailToConsignee" type="xs:boolean"/>
      <xs:element name="SendSMSToShipper" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PickAndReturnService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element name="PickupDate" type="xs:date"/>
      <xs:element name="SendEMailToShipper" type="xs:boolean"/>
      <xs:element name="SendEMailToConsignee" type="xs:boolean"/>
      <xs:element name="SendSMSToShipper" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HazardousGoodsService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="HazardousGood" type="tns:HazardousGood"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HazardousGood">
    <xs:sequence>
      <xs:element name="GLSHAZNO" type="xs:string"/>
      <xs:element name="Weight" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExWorksService">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
      <xs:element minOccurs="0" name="Amount" type="xs:string"/>
      <xs:element minOccurs="0" name="Currency" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShipmentService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Service" type="tns:Service"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element name="ServiceName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PrintingOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnLabels" type="tns:ReturnLabels"/>
      <xs:element minOccurs="0" name="UseDefault" type="xs:string"/>
      <xs:element minOccurs="0" name="DefinePrinter" type="tns:DefinePrinter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReturnLabels">
    <xs:sequence>
      <xs:element name="TemplateSet" type="tns:TemplateSet"/>
      <xs:element name="LabelFormat" type="tns:LabelFormat"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DefinePrinter">
    <xs:sequence>
      <xs:element name="LabelPrinter" type="xs:string"/>
      <xs:element minOccurs="0" name="DocumentPrinter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerLogo" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="Barcode" type="xs:string"/>
      <xs:element minOccurs="0" name="BarcodeType" type="tns:BarcodeType"/>
      <xs:element minOccurs="0" name="HideShipperAddress" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreatedShipment">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ShipmentReferenceNumber" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ParcelData" type="tns:ParcelData"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PrintData" type="tns:Document"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParcelData">
    <xs:sequence>
      <xs:element name="TrackID" type="xs:string"/>
      <xs:element minOccurs="0" name="ExchangeParcelID" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ShipmentUnitReferenceNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="Barcodes" type="tns:Barcodes"/>
      <xs:element minOccurs="0" name="RoutingInfo" type="tns:RoutingInfo"/>
      <xs:element minOccurs="0" name="ExpressData" type="tns:ExpressData"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Barcodes">
    <xs:sequence>
      <xs:element name="PrimaryTwoD" type="xs:string"/>
      <xs:element name="SecondaryTwoD" type="xs:string"/>
      <xs:element minOccurs="0" name="Primary1D" type="xs:string"/>
      <xs:element minOccurs="0" name="NDI1" type="xs:string"/>
      <xs:element minOccurs="0" name="NDI2" type="xs:string"/>
      <xs:element minOccurs="0" name="UniShip" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RoutingInfo">
    <xs:sequence>
      <xs:element name="Tour" type="xs:string"/>
      <xs:element name="InboundSortingFlag" type="xs:string"/>
      <xs:element name="FinalLocationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="PickupLocationCode" type="xs:string"/>
      <xs:element name="HubLocation" type="xs:string"/>
      <xs:element name="LastRoutingDate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExpressData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryDate" type="xs:date"/>
      <xs:element minOccurs="0" name="AlternateDelivery" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ImportStation" type="xs:string"/>
      <xs:element minOccurs="0" name="DeliveryTime" type="xs:string"/>
      <xs:element minOccurs="0" name="TourNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="CourierParcelNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="Data" type="xs:base64Binary"/>
      <xs:element name="LabelFormat" type="tns:LabelFormat"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element name="CountryCode" type="xs:string"/>
      <xs:element name="ZIPCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AllowedService">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductName" type="tns:ProductType"/>
      <xs:element minOccurs="0" name="ServiceName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShipmentValidationResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Issues" type="tns:ValidationIssue"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ValidationIssue">
    <xs:sequence>
      <xs:element name="Rule" type="xs:string"/>
      <xs:element name="Location" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Parameters" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MetaData">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Item" type="ns1:KeyValuePair"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ProductType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Parcel"/>
      <xs:enumeration value="Express"/>
      <xs:enumeration value="Freight"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TemplateSet">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="D200"/>
      <xs:enumeration value="PF4I"/>
      <xs:enumeration value="PF4I200"/>
      <xs:enumeration value="PF4I300"/>
      <xs:enumeration value="PF8D200"/>
      <xs:enumeration value="T200BF"/>
      <xs:enumeration value="T300BF"/>
      <xs:enumeration value="ZPL200"/>
      <xs:enumeration value="ZPL300"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LabelFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PDF"/>
      <xs:enumeration value="Zebra"/>
      <xs:enumeration value="Intermec"/>
      <xs:enumeration value="Datamax"/>
      <xs:enumeration value="Toshiba"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BarcodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EAN_128"/>
      <xs:enumeration value="CODE_39"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://fpcs.gls-group.eu/v1/Common" elementFormDefault="qualified" targetNamespace="http://fpcs.gls-group.eu/v1/Common" version="1.0">

  <xs:element name="AlreadyExistingParcelFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="trackid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CountryCode" type="xs:string"/>

  <xs:element name="InsufficientPermissionFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customer" type="xs:string"/>
        <xs:element name="user" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="InvalidFieldValueFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="field" type="tns:Fields"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MandatoryFieldMissingFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="fieldname" type="tns:Field"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Fields">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Consignee">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsigneeID" type="xs:string"/>
      <xs:element name="Address" type="tns:Address"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="Name1" type="xs:string"/>
      <xs:element minOccurs="0" name="Name2" type="xs:string"/>
      <xs:element minOccurs="0" name="Name3" type="xs:string"/>
      <xs:element name="CountryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="Province" type="xs:string"/>
      <xs:element name="ZIPCode" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="Street" type="xs:string"/>
      <xs:element minOccurs="0" name="StreetNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="eMail" type="xs:string"/>
      <xs:element minOccurs="0" name="ContactPerson" type="xs:string"/>
      <xs:element minOccurs="0" name="FixedLinePhonenumber" type="xs:string"/>
      <xs:element minOccurs="0" name="MobilePhoneNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Shipper">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element minOccurs="0" name="ShippingAddress" type="tns:Address"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KeyValuePair">
    <xs:sequence>
      <xs:element name="key" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createParcelsResponse">
    <wsdl:part element="ns1:CreateParcelsResponse" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InsufficientPermissionMessage">
    <wsdl:part element="ns2:InsufficientPermissionFault" name="InsufficientPermissionMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateParcelWeightResponse">
    <wsdl:part element="ns1:UpdateParcelWeightResponse" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllowedServicesResponse">
    <wsdl:part element="ns1:AllowedServicesResponse" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createParcels">
    <wsdl:part element="ns1:ShipmentRequestData" name="shipment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CouldNotTransmitShipmentsMessage">
    <wsdl:part element="ns1:CouldNotTransmitShipmentsFault" name="CouldNotTransmitShipmentsMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndOfDayReportResponse">
    <wsdl:part element="ns1:EndOfDayResponse" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidFieldValueMessage">
    <wsdl:part element="ns2:InvalidFieldValueFault" name="InvalidFieldValueMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelParcelByIDResponse">
    <wsdl:part element="ns1:CancelParcelResponse" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateParcelWeight">
    <wsdl:part element="ns1:UpdateParcelWeightRequestParameter" name="updateParcelWeightRequestParameter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateParcelsResponse">
    <wsdl:part element="ns1:ValidateParcelsResponse" name="body">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelParcelByID">
    <wsdl:part element="ns1:ShipmentID" name="shipmentID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidShipmentIDMessage">
    <wsdl:part element="ns1:InvalidShipmentIDFault" name="InvalidShipmentIDMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateParcels">
    <wsdl:part element="ns1:ValidateShipmentRequestData" name="shipment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MandatoryFieldMissingMessage">
    <wsdl:part element="ns2:MandatoryFieldMissingFault" name="MandatoryFieldMissingMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllowedServices">
    <wsdl:part element="ns1:AllowedServicesRequestParameter" name="allowedServicesRequestParameter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndOfDayReport">
    <wsdl:part element="ns1:EndOfDayDate" name="endOfDayDate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShipmentProcessingPortType">
    <wsdl:operation name="cancelParcelByID">
      <wsdl:input message="tns:cancelParcelByID" name="cancelParcelByID">
    </wsdl:input>
      <wsdl:output message="tns:cancelParcelByIDResponse" name="cancelParcelByIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InsufficientPermissionMessage" name="InsufficientPermissionMessage">
    </wsdl:fault>
      <wsdl:fault message="tns:MandatoryFieldMissingMessage" name="MandatoryFieldMissingMessage">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidFieldValueMessage" name="InvalidFieldValueMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndOfDayReport">
      <wsdl:input message="tns:getEndOfDayReport" name="getEndOfDayReport">
    </wsdl:input>
      <wsdl:output message="tns:getEndOfDayReportResponse" name="getEndOfDayReportResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CouldNotTransmitShipmentsMessage" name="CouldNotTransmitShipmentsMessage">
    </wsdl:fault>
      <wsdl:fault message="tns:MandatoryFieldMissingMessage" name="MandatoryFieldMissingMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createParcels">
      <wsdl:input message="tns:createParcels" name="createParcels">
    </wsdl:input>
      <wsdl:output message="tns:createParcelsResponse" name="createParcelsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MandatoryFieldMissingMessage" name="MandatoryFieldMissingMessage">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidFieldValueMessage" name="InvalidFieldValueMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateParcelWeight">
      <wsdl:input message="tns:updateParcelWeight" name="updateParcelWeight">
    </wsdl:input>
      <wsdl:output message="tns:updateParcelWeightResponse" name="updateParcelWeightResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidShipmentIDMessage" name="InvalidShipmentIDMessage">
    </wsdl:fault>
      <wsdl:fault message="tns:MandatoryFieldMissingMessage" name="MandatoryFieldMissingMessage">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidFieldValueMessage" name="InvalidFieldValueMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllowedServices">
      <wsdl:input message="tns:getAllowedServices" name="getAllowedServices">
    </wsdl:input>
      <wsdl:output message="tns:getAllowedServicesResponse" name="getAllowedServicesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MandatoryFieldMissingMessage" name="MandatoryFieldMissingMessage">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidFieldValueMessage" name="InvalidFieldValueMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateParcels">
      <wsdl:input message="tns:validateParcels" name="validateParcels">
    </wsdl:input>
      <wsdl:output message="tns:validateParcelsResponse" name="validateParcelsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MandatoryFieldMissingMessage" name="MandatoryFieldMissingMessage">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidFieldValueMessage" name="InvalidFieldValueMessage">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShipmentProcessingServiceSoapBinding" type="tns:ShipmentProcessingPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cancelParcelByID">
      <soap:operation soapAction="http://fpcs.gls-group.eu/v1/cancelShipment" style="document"/>
      <wsdl:input name="cancelParcelByID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelParcelByIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InsufficientPermissionMessage">
        <soap:fault name="InsufficientPermissionMessage" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MandatoryFieldMissingMessage">
        <soap:fault name="MandatoryFieldMissingMessage" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidFieldValueMessage">
        <soap:fault name="InvalidFieldValueMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createParcels">
      <soap:operation soapAction="http://fpcs.gls-group.eu/v1/createShipment" style="document"/>
      <wsdl:input name="createParcels">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createParcelsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MandatoryFieldMissingMessage">
        <soap:fault name="MandatoryFieldMissingMessage" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidFieldValueMessage">
        <soap:fault name="InvalidFieldValueMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndOfDayReport">
      <soap:operation soapAction="http://fpcs.gls-group.eu/v1/getEndOfDayReport" style="document"/>
      <wsdl:input name="getEndOfDayReport">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEndOfDayReportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CouldNotTransmitShipmentsMessage">
        <soap:fault name="CouldNotTransmitShipmentsMessage" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MandatoryFieldMissingMessage">
        <soap:fault name="MandatoryFieldMissingMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllowedServices">
      <soap:operation soapAction="http://fpcs.gls-group.eu/v1/getAllowedServices" style="document"/>
      <wsdl:input name="getAllowedServices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllowedServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MandatoryFieldMissingMessage">
        <soap:fault name="MandatoryFieldMissingMessage" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidFieldValueMessage">
        <soap:fault name="InvalidFieldValueMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateParcelWeight">
      <soap:operation soapAction="http://fpcs.gls-group.eu/v1/updateParcelWeight" style="document"/>
      <wsdl:input name="updateParcelWeight">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateParcelWeightResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidShipmentIDMessage">
        <soap:fault name="InvalidShipmentIDMessage" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MandatoryFieldMissingMessage">
        <soap:fault name="MandatoryFieldMissingMessage" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidFieldValueMessage">
        <soap:fault name="InvalidFieldValueMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateParcels">
      <soap:operation soapAction="http://fpcs.gls-group.eu/v1/validateShipment" style="document"/>
      <wsdl:input name="validateParcels">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateParcelsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MandatoryFieldMissingMessage">
        <soap:fault name="MandatoryFieldMissingMessage" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidFieldValueMessage">
        <soap:fault name="InvalidFieldValueMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShipmentProcessingService">
    <wsdl:port binding="tns:ShipmentProcessingServiceSoapBinding" name="ShipmentProcessingPortTypePort">
      <soap:address location="http://fpcs-backend9.nst.gls-germany.com:8080/backend/ShipmentProcessingService/ShipmentProcessingPortType"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>