leoz-node/src/main/resources/db/node/tables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tables" type="w3s:tablesType" xmlns:w3s="http://www.w3schools.com">
    <xs:annotation>
      <xs:documentation>Table mapping names to @Serialzable uids.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tableType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="uid" use="required"/>
        <xs:attribute type="xs:string" name="pkuid" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="tablesType">
    <xs:sequence>
      <xs:element type="w3s:tableType" name="table" maxOccurs="unbounded" minOccurs="0" xmlns:w3s="http://www.w3schools.com"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>